body {
  font-family: 'Share Tech Mono', monospace;
}

body,
html,
#root {
  height: 100% !important;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

h2 {
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: -4px;
}

h2,
h5 {
  margin: 0;
  cursor: default;
}

p {
  cursor: default;
}

h5 {
  font-size: 20px;
}

.progress {
  border-radius: 18px;
}

/* Panel */

.panel {
  margin-top: 50px;
  margin-bottom: 50px;
  outline: 5px double black;
}

.player-avatar {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.dead-player {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

/* Kills List */

.kills-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Battle box */

.battle-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.battle-box {
  position: relative;
  max-width: 750px;
  min-width: 300px;
  height: 600px;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.player-container {
  justify-content: space-between;
  position: relative;
  display: flex;
  height: 100px;
}

.player-info-box {
  background-color: white;
  width: 55%;
  height: 100px;
  border: 5px solid #2f4f4f;
  padding: 5px;
  border-radius: 14px 7px 14px 7px;
  letter-spacing: -2px;
}

.player-info-box .progress {
  position: relative;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

/* Enemy */

.enemy-container {
  top: 15px;
}

.enemy-container .avatar {
  margin-right: 80px;
}

/* Hero */

.hero-container {
  top: 170px;
}

.hero-container .avatar-box {
  left: 7px;
}

.hero-container .avatar {
  margin-left: 80px;
}

/* Oval */

.oval {
  width: 200px;
  height: 100px;
  background: #ccbaa1;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.enemy-container .oval {
  top: 100px;
  left: -20px;
}

.hero-container .oval {
  top: 80px;
  left: 45px;
}

/* Battle text */

.text-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.text-box {
  background-color: #4b4f53;
  height: 140px;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.text-box-content {
  background-color: #5381b6;
  height: 120px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.battle-text-content {
  padding: 13px 13px 0px 13px;
  font-size: 18px;
  color: white;
  height: 80px;
}

/* Avatar */

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.avatar-box {
  margin: 7px;
  position: relative;
  z-index: 0;
}

.winner-img {
  width: 250px;
}

.crown {
  width: 100px;
}

/* Button */

.war-button {
  background-color: #5381b6;
  border-color: #5381b6;
}

.war-button:hover {
  background-color: #198754;
  border-color: #198754;
}
